@import '../assets/variables.scss';

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    .home-container {
        height: 100vh;
        .books-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            row-gap: 70px;
            margin-bottom: 30px;
            justify-items: center;
        }
    }
}

.link {
    text-decoration: none;
    color: black;
}

