@import '../assets/variables.scss';

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    .home-container {
        height: 100vh;
        margin: 0 60px;
        .books-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            row-gap: 70px;
            justify-content: space-between; 
            margin-bottom: 30px;
            justify-items: center;
        }
    }
}

.link {
    text-decoration: none;
    color: black;
    width: calc(100% - 40px);
}

.filter {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center; 
    margin-bottom: 20px;
}