@import "../assets/variables.scss";

.card {
  justify-self: center;
  // background-color: $primary-color;
  background-color: $primary-color;
  border-radius: 15px;
  height: 240px;
  width: 180px;
  -webkit-box-shadow: 7px 7px 6px 1px #02130c;
  box-shadow: 7px 7px 6px 1px #02130c;
  img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  p {
    margin-block-start: unset;
    margin-block-end: unset;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .title {
    font-weight: bold;
  }
  .card-info {
    padding: 0 10px 10px 10px;
    height: 20%;
  }
}
